@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);


.body {
  position: relative;
}


.container {
  border: 1px dotted black;
  background-color: #444444;
  width: 1200px;
  height: 650px;
  display: inline-block;
  position: absolute;
     left: 50%;
     transform: translateX(-50%);
}

h3 {
text-align: center;
font-family: 'Press Start 2P', cursive;
}

.vs {
  position: absolute;
  bottom: 240px;
  left: 84px;
}

.singleplayer > input {
  position: absolute;
  left: 84px;
}







/*#gamescreen {
  border: 2px solid blue;
  height: 635px;
  width: 878px;
  margin: 3px 3px 3px 3px;
  padding: 3px 3px 3px 3px;
  position:absolute;
  background-color: black;
}*/


#navbar {
  border: 2px solid black;;
  height: 643px;
  margin: 1px 1px 1px 1px; /*why is bottom margin not effected?*/
  width: 300px;
  background: linear-gradient(red, white, blue);
  position: absolute;
   top: 1px;
}

#gamescreen {
  background-color: black; /*why is background only effecting border?*/
  height: 632px;
  width: 878px;
  margin: 3px 3px 3px 3px;
  padding: 3px 3px 3px 3px;
  position: absolute;
  top: 1px;
  right: 1px
}

.mainscreen {
  height: 632px;
  width: 878px;
  background: black;
  z-index: 999;
}

.whitehouse {
  position: absolute:
  bottom: 100px;
  height: 100%;
  width: 100%;
  opacity: 90%;
}

#hillary {
  height: 100px;
  width: 100px;
  position: relative;
  top: 150px;

}

img[src="/Users/Matt/Downloads/HillaryPixel2.png"] {
  height: 100%;
  width: 100%;
  position: absolute;
}

.bernie {
  height:100px;
  width:100px;
  position: relative;

  top:150px;
}

img[src="/Users/Matt/Downloads/BerniePixel2.png"] {
  height: 100%;
  width: 100%;
  position: absolute;
  right: 6px;
}

.donkey {
height: 60px;
width: 60px;
position: absolute;
top: 200px;
right: 200px;
}

img[src="/Users/Matt/Desktop/Project-One-Stuff/donkey.png"] {
  height: 100%%;
  width: 100%;
}
